<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - ToDo & Beyond</title>

    <link rel="shortcut icon" href="~/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @if (ViewData["Styling"] != null)
    {
        <link rel="stylesheet" href='~/css/@(ViewData["Styling"]).css' asp-append-version="true" />
    }

    <base href="~/" />
    <script src="~/js/main.js" defer></script>
    <script src="~/_framework/blazor.server.js" defer></script>
</head>

<body>
    <main id="root">
        @RenderBody()
    </main>
</body>

</html>