#root {
    --padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: var(--padding);

    padding: var(--padding);

}

.displayer {
    --inner-padding: 1.5rem;
    --header-font-size: 2rem;
    --header-height: calc(var(--header-font-size) + 0.7rem + var(--inner-padding) * 2);

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--background-lighter-colour);

    &>h1 {
        --border-thickness: 1px;

        font-size: var(--header-font-size);

        margin-top: var(--inner-padding);
        margin-inline: var(--inner-padding);
        padding-bottom: calc(var(--inner-padding) - var(--border-thickness));

        border-bottom: var(--border-thickness) solid var(--fore-lighter-colour);
    }

    .slider {
        --title-card-gap: 1rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        height: calc(100vh - var(--padding) * 2 - var(--inner-padding) * 2 - var(--header-height));

        padding-block: var(--inner-padding);
        padding-inline: var(--inner-padding);

        overflow: hidden;
        overflow-y: auto;

        .empty-message {
            display: flex;
            flex-direction: column;
            place-content: center;
            place-items: center;
            place-self: center;
            gap: var(--title-card-gap);

            margin-block: auto;
            padding: var(--padding);

            &>span {
                font-size: xx-large;

                text-shadow: var(--text-shadow);
            }

            &>p {
                font-size: larger;
            }
        }
    }
}

@mixin title-card {
    --title-card-colour: var(--background-colour);

    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--title-card-colour);

    transition: filter 250ms;

    &:is(:hover, :focus-within) {
        filter: brightness(70%);
    }

    &>a {
        --input-size: 2ch;
        --icon-size: 2.5ch;

        display: grid;
        place-content: start stretch;
        place-items: start stretch;
        gap: 1rem;

        padding: 1rem;

        input {
            position: relative;
            top: calc((var(--icon-size) - var(--input-size)) / 2);
            width: var(--input-size);
            aspect-ratio: 1;
        }

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        span {
            width: var(--icon-size);
            aspect-ratio: 1;

            text-shadow: var(--text-shadow);
        }
    }
}

#project-displayer {

    .project-title-card {
        @include title-card;

        &[data-is-initial=true]+[data-is-initial=false] {
            margin-top: var(--padding);
        }

        &>a {
            grid-template-columns: 2ch 1fr;
            gap: 1.5rem;
        }
    }
}

#task-displayer {

    .task-title-card {
        --nesting-offset: 4rem;

        @include title-card;

        position: relative;

        margin-left: calc(var(--nesting-offset) * var(--task-nesting-level));

        background-image: linear-gradient(-45deg, var(--task-importance-colour) 30%, transparent 40%);

        input:checked+p {
            text-decoration: line-through;
            filter: contrast(0%);
        }

        &[data-is-starred]:not([data-is-starred=""])::after {
            content: attr(data-is-starred);

            font-size: larger;

            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%) rotate(22.5deg);

            text-shadow: var(--text-shadow);
        }

        &[data-is-nested=true]::before {
            content: "";

            position: absolute;
            top: calc((-100% - var(--title-card-gap)) * (var(--task-gap-level) - 1) - var(--title-card-gap));
            right: 100%;
            height: calc((100% + var(--title-card-gap)) * var(--task-gap-level) - 50%);
            width: calc(var(--nesting-offset) / 2);


            border-bottom-left-radius: 10px;
            border: 1px solid var(--fore-lighter-colour);
            border-top: none;
            border-right: none;

            pointer-events: none;
        }

        &>a {
            grid-template-columns: var(--input-size) 1fr var(--icon-size);

            small {
                font-size: medium;
                filter: contrast(0%);
            }
        }
    }
}

#step-displayer {

    .step-title-card {
        @include title-card;

        &>a {
            grid-template-columns: var(--input-size) 1fr;
        }
    }
}