@use "base.scss";

input:is(:not([type=checkbox]), :not([type=radio])) {
    background-color: silver;
    border-radius: 10px;
}

.input-field {
    display: flex;
    flex-direction: row-reverse;
    place-content: center space-between;
    place-items: center space-between;
    gap: 2rem;
}

.input-field:not([data-is-checkbox]) input[data-val-required]+label::after {
    content: "*";

    color: var(--required-colour);
}

.input-field[data-is-checkbox] {
    flex-direction: row;
    place-content: center stretch;
    place-items: center stretch;
    gap: 1rem;
}

.input-field[data-is-checkbox] input {
    transform: translateY(0.15em) scale(1.5);
}

.input-field[data-is-checkbox] label {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}